<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SqlMyWayAddIn.SqlMyWayOptionSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SqlMyWayAddIn.SqlMyWayOptions" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SqlMyWayAddIn.SqlMyWayOptionSettings>
            <setting name="LineBreaks_BetweenStatements" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="LineBreaks_BetweenClauses" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Capitalize_Keywords" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Capitalize_DataTypes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Capitalize_BuiltInFunctions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CommaLists_Stacked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CommaLists_TrailingCommas" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Joins_Indented" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Joins_TableOnSameLine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Joins_OnClauseOnSameLine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Parentheses_SpacesOutside" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Parentheses_SpacesInside" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Semicolons_Add" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Comments_ExtraLineBeforeBlocks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Comments_ExtraLineAfterBlocks" serializeAs="String">
                <value>False</value>
            </setting>
        </SqlMyWayAddIn.SqlMyWayOptionSettings>
        <SqlMyWayAddIn.SqlMyWayOptions>
            <setting name="LineBreaks_BetweenStatements" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LineBreaks_BetweenClauses" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Capitalize_Keywords" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Capitalize_DataTypes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Capitalize_BuiltInFunctions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CommaLists_Stacked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CommaLists_TrailingCommas" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Joins_Indented" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Joins_TableOnSameLine" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Joins_OnClauseOnSameLine" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Parentheses_SpacesOutside" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Parentheses_SpacesInside" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Semicolons_Add" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Comments_ExtraLineBeforeBlocks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Comments_ExtraLineAfterBlocks" serializeAs="String">
                <value>False</value>
            </setting>
        </SqlMyWayAddIn.SqlMyWayOptions>
    </userSettings>
</configuration>